<div class="hidden" id="bld_3_101">
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/greenleaf_bld3_back.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/greenleaf_bld3_back2.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_office_space_hall.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_building_3.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_commercial_office.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_nh_office_space.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/building_3_front.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_commercial_unit.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_nh_commercial_space.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_2_office.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_nh_office_rent.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/portsmouth_office.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/greenleaf_woods_portsmouth.png" title="Building #3 - Unit #101"></a>
    <a class="fancybox" data-fancybox-group="bld_3_101" href="{{assets}}/img/bld_3_101/office_portsmouth_nh.png" title="Building #3 - Unit #101"></a>
</div>