<div class="hidden" id="bld_7_202">
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/greenleaf_office_portsmouth.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/high_speed_network.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/nh_office_for_rent.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/nh_office_rent.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/nh_office_rental.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/nh_portsmouth_rental.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/portsmouth_nh_office_space.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/portsmouth_office_space.png" title=""></a>
    <a class="fancybox" data-fancybox-group="bld_7_202" href="{{assets}}/img/bld_7_202/secure_access.png" title=""></a>
</div>