<div class="hidden" id="complex_general">
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/bld_5.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/DSC_3124.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/DSC_3126.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/DSC_3128.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/DSC_3130.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/DSC_3197.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/greenleaf_woods_marsh_view.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/portsmouth_bld6.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/portsmouth_commercial_space_bld_7.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/portsmouth_nh_seacoast_entrance.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/portsmouth_office_bld_1.png" title=""></a>
    <a class="fancybox" data-fancybox-group="complex_general" href="{{assets}}/img/complex_general/seacoast_office_bld_6.png" title=""></a>
</div>