---
title: Tour
description: Rent an office in Portsmouth, NH. Close to downtown with plenty of parking.
keywords: rent office portsmouth nh, portsmouth nh, office for rent, downtown portsmouth office for rent, greenleaf woods office
---

<div class="container bottom-space-70">
    <div class="row">
        <div class="col-sm-3">
            <div class="instant-side-nav hidden-xs" id="side-nav" data-spy="affix">
                <ul class="nav hidden-xs">
                    <li class="active">
                        <a href="#info">Amenities</a>
                    </li>
                    <li>
                        <a href="#location">Location</a>
                    </li>
                    <li>
                        <a href="#available">Available Now</a>
                        <ul class="nav">
                            <li>
                                <a href="#7-202">Single Office</a>
                            </li>
                            <li>
                                <a href="#3-101">3 Office Unit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="row">
                    <div class="download-bot col-sm-10">
                        <a href="#" class="btn btn-default btn-lg instant-btn" role="button" data-toggle="modal" data-target="#contact-form" id="contactUs">
                            Contact Us
                            <i class="glyphicon glyphicon-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <section id="info" class="tour-page-section">
                <h1 class="page-header text-center">Greenleaf Woods</h1>
                <h2>Amenities</h2>
                <p>
                    Located just five minutes from downtown Portsmouth, Greenleaf Woods Office Park provides commercial office units with parking,
                    a great location, access to recreational and sports facilities, and a great alternative to downtown Portsmouth.
                </p>
                <img src="{{assets}}/img/panoramic.jpg" class="img img-responsive image-shadow bottom-space-30 top-space-30" alt="complex image">
                <div class="value-text">
                    <p>
                        Tired of fighting with downtown Portsmouth prices, lack of parking, and high overhead?
                        Give Greenleaf Woods a look and discover what the office complex just minutes from downtown, and I95, has to offer.
                    </p>
                    <ul>
                        <li>
                            Parkingd
                        </li>
                        <li>
                            Great Location
                        </li>
                        <li>
                            Various office sizes and configurations
                        </li>
                        <li>
                            Easy access to restaurants, banking, professional services, and shopping
                        </li>
                    </ul>
                </div>
            </section>

            <section id="location" class="tour-page-section">
                <h2>Location</h2>
                <div class="value-text" id="google-iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d46646.11211903227!2d-70.8081819!3d43.0544326!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e2c07975b73d49%3A0x1d9f6b39ab758a93!2sGreenleaf+Woods+Dr%2C+Portsmouth%2C+NH+03801!5e0!3m2!1sen!2sus!4v1458489592224" allowfullscreen></iframe>
                </div>
            </section>

            <!--<section id="contact" class="tour-page-section">
                <a href="#" class="btn btn-default btn-lg instant-btn" role="button" data-toggle="modal" data-target="#contact-form" id="contactUs">
                    Contact Us
                    <i class="glyphicon glyphicon-envelope"></i>
                </a>
            </section>-->

            <section id="available" class="tour-page-section">
                <h2>Available Now</h2>
                <div class="available-div">
                    <h3 id="7-202" class="tour-page-section">Building #7</h3>
                    <div class="row bottom-space-10">
                        <div class="col-sm-6">
                            <a class="fancybox" data-fancybox-group="building-7-unit-202" href="{{assets}}/img/water.jpg" title="Building #7 - Unit #202">
                                <img class="img-responsive img-thumbnail video-shadow" src="{{assets}}/img/water.jpg" alt="unit image">
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <h3>
                                Single Office - Unit #202
                            </h3>
                            <p>
                                Located on the 2<sup>nd</sup> floor of building 7, this single office provides a 10x12 space with 2 windows,
                                gigabit ethernet, all utilities, and a great space minutes from downtown.
                            </p>
                            <a href="#" class="btn btn-lg btn-default instant-btn request-info"  data-id="Building #7 - Unit #202" role="button" data-toggle="modal" data-target="#contact-form">
                                Request More Info
                            </a>
                        </div>
                    </div>
                </div>
                <div class="available-bottom">
                    <h3 id="3-101" class="tour-page-section">Building #3</h3>
                    <div class="row bottom-space-10">
                        <div class="col-sm-6">
                            <a class="fancybox" data-fancybox-group="building-3-unit-101" href="{{assets}}/img/water.jpg" title="Building #3 - Unit #101">
                                <img class="img-responsive img-thumbnail video-shadow" src="{{assets}}/img/water.jpg" alt="unit image">
                            </a>

                        </div>
                        <div class="col-sm-6">
                            <h3>
                                3 Office Unit - Unit #101
                            </h3>
                            <p>
                                Located on the ground floor with views of the marsh and a completely refurbished interior.
                                This 3 office unit includes a small common area, gigabit networking, numerous coax drops, granite countertops in
                                the bathroom and kitchenette, French doors, and great lighting.
                            </p>
                            <a href="#" class="btn btn-lg btn-default instant-btn request-info" data-id="Building #3 - Unit #101" role="button" data-toggle="modal" data-target="#contact-form">
                                Request More Info
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{{> building-7-unit-202 }}
{{> building-3-unit-101 }}

<script>
    $(function(){
        var page = $('#main-nav').children();
        $(page[1]).addClass('active');
    });
</script>