---
title:
description:
keywords:
---

<div class="jumbotron">
    <div class="container" id="chime-jumbo">
        <div class="row">

            <div class="col-md-10 col-md-offset-1 jumbo-copy">
                <h1>{{{heading}}}</h1>
                <h2>
                    {{{jumbo-line-1}}}
                </h2>
                <p>
                    {{{jumbo-line-2}}}
                </p>
                {{#if btn1}}
                    <a href="#" class="btn btn-default btn-lg instant-btn" role="button" data-toggle="modal" data-target="#contact-form" id="{{btn1-id}}">
                        {{btn1}}
                        <i class="fa fa-envelope"></i>
                    </a>
                {{/if}}

                {{#if btn2}}
                    <a href="{{relative page.dest "dist/tour.html"}}" class="btn btn-default btn-lg instant-btn" role="button">
                        {{btn2}}
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.jumbo-img').height($('.jumbo-copy').height() + 50)
    });
</script>

