---
title:
description:
keywords:
---

<div class="jumbotron">
    <div class="container" id="chime-jumbo">
        <div class="row">

            <div class="col-md-7 jumbo-copy">
                <h1>{{{heading}}}</h1>
                <h2>
                    {{{jumbo-line-1}}}
                </h2>
                <p>
                    {{{jumbo-line-2}}}
                </p>
                {{#if btn1}}
                    <a href="#" class="btn btn-default btn-lg instant-btn" role="button" data-toggle="modal" data-target="#contact-form" id="{{btn1-id}}">
                        {{btn1}}
                        <i class="glyphicon glyphicon-envelope"></i></a>
                {{/if}}

                {{#if btn2}}
                    <a href="{{relative page.dest "dist/tour.html"}}" class="btn btn-default btn-lg instant-btn" role="button">{{btn2}} &raquo;</a>
                {{/if}}
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <img src="{{assets}}/img/hoot.png" class="jumbo-img" alt="Greenleaf Woods">
            </div>
        </div>
    </div>
</div>

<!--
<script>
    $(function(){
        $('.jumbo-img').height($('.jumbo-copy').height() + 50)
    });
</script>
-->
