<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">

    <title>{{title}} | {{site.title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">


    {{#if this.canonical}}
        <link rel="canonical" href="{{this.canonical}}" />
    {{/if}}

    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{assets}}/css/glyphicons.css">
    <link rel="stylesheet" href="{{assets}}/css/glyphicons-social.css">
    <link rel="stylesheet" href="{{assets}}/css/font-awesome.min.css">
    <link href="{{assets}}/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{assets}}/css/gofetch.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    {{> googleTracking }}

</head>
<body data-spy="scroll" data-target="#side-nav">


{{> navbar-fixed-top }}

{{> body }}

{{> footer }}


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{assets}}/js/bootstrap.min.js"></script>
<script src="{{assets}}/js/libs/parsley.min.js"></script>
<script src="{{assets}}/js/fancybox/jquery.fancybox.js"></script>
<link rel="stylesheet" href="{{assets}}/js/fancybox/helpers/jquery.fancybox-buttons.css" type="text/css" property="stylesheet">
<script src="{{assets}}/js/fancybox/helpers/jquery.fancybox-buttons.js"></script>
<script src="{{assets}}/js/fancybox/helpers/jquery.fancybox-media.js"></script>
<link rel="stylesheet" href="{{assets}}/js/fancybox/helpers/jquery.fancybox-thumbs.css" type="text/css" property="stylesheet">
<script src="{{assets}}/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script src="{{assets}}/js/gofetch.js"></script>

</body>
</html>
